.about_page {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.about_cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.about_card {
  display: flex;
  width: 40%;
  flex-direction: row;
  justify-items: center;
  padding: 5%;
  max-width: 540px;
}

.about_card_icon {
  width: 100%;
  color: #dd1313;
  font-size: 3.5rem;
  align-self: flex-start;
  margin-top: 5%;
}

.about_card_details {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.about_card_title {
  font-size: 1.5em;
  font-weight: bold;
}

.about_card_text {
  font-size: 1em;
}

.history_card {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.about_card_image {
  width: 50%;
  margin: 2%;
}

.history_card_details {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  width: 50%;
  max-width: 500px;
  color: black;
  padding: 2%;
  margin-left: 2%;
}

.history_card_title {
  font-size: 1.7em;
}

.history_card_text {
  font-size: 1em;
}

.company {
  font-size: 1em;
}

.about_history {
  display: flex;
  width: 100%;
  justify-content: center;
}

.about__Paragraph {
  width: 90%;
  align-items: center;
  margin: 5%;
  font-size: 0.9em;
}

.about_contactus {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  background-color: #4d4c4c;
}

.text_contactus_container {
  width: 50%;
  color: white;
  text-align: center;
}

.contactus_btn_container {
  width: 20%;
  padding: 5% 0px;
}

.contactus_btn {
  color: #ffffff;
  background: rgba(255, 255, 255, 0.01);
  border: 3px solid #ffffff;
  padding: 10% 20%;
  font-weight: 900;
  border-radius: 10px;
  height: 70%;
}

@media screen and (max-width: 819px) {
  .about_cards {
    flex-direction: column;
  }
  .about_card {
    width: 80%;
    margin: 10%;
  }
  .history_card {
    flex-direction: column;
  }
  .history_card_details {
    width: 80%;
  }
  .about_card_image {
    width: 80%;
  }
  .about_contactus {
    flex-direction: column;
    justify-content: center;
  }
  .contactus_btn_container {
    width: 85%;
    padding: 5% 15%;
  }
  .text_contactus {
    font-size: 0.7em;
  }
}
