.A_Container {
  height: auto;
  background-color: #fdfdfe;
  background-image: url("../../assets/images/Squares\ design.png");
  background-repeat: no-repeat;
}
.A_Wrapper {
  padding: 6rem;
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  justify-content: space-evenly;
}
.A_Text_Wrap {
  flex: 1;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: space-between;
}
.A_Image_Wrap {
  flex: 1;
  display: flex;
  gap: 10px;
  align-self: center;
  justify-content: center;
}
.A_Text_Header {
  color: black;
  text-align: left;
  font-weight: 600;
  padding-left: 0.75rem;
  font-size: 2rem;
}
.A_Btn {
  border: 2px solid #f96507;
  background-color: transparent;
  padding: 0.5rem 2rem;
  color: #f96507;
  font-weight: 500;
  font-size: 16px;
  width: fit-content;
  text-decoration: none;
}
.A_Btn:hover {
  color: white;
  transition: all 0.3s linear;
  background-color: #f96507;
}
.A_Text_Title {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 1.5rem;
  text-transform: uppercase;
  color: black;
  margin-top: 0;
  padding-left: 0.75rem;
  margin-bottom: 1rem;
  text-align: left;
}
.border-left {
  border-left: 3px solid #de202c;
}
.A_Text_Wrap p {
  text-align: justify;
  line-height: 22px;
}
.red-dot {
  font-size: 1.5rem;
  color: #de202c;
}
@media screen and (min-width: 769px) and (max-width: 1199px) {
  .A_Wrapper {
    padding: 2rem 1rem;
    margin: 0;
  }
  .A_Text_Title {
    font-size: 0.8rem;
  }
  .A_Text_Header {
    font-size: 1.5rem;
  }
  .A_Image_Wrap img {
    width: 100%;
  }
  .A_Text_Wrap p {
    line-height: 22px;
    font-size: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .A_Wrapper {
    flex-direction: column;
    padding: 2rem 1rem;
    margin: 0;
  }
  .A_Container {
    height: auto;
    background-image: none;
  }
  .A_Text_Wrap {
    margin-bottom: 3rem;
  }
  .A_Image_Wrap {
    justify-content: center;
    background-image: url("../../assets/images/Squares\ designM.png");
    background-repeat: no-repeat;
    padding: 2rem;
  }
  .A_Image_Wrap img {
    width: 100%;
  }
  .A_Text_Title {
    font-size: 14px;
  }
  .A_Text_Header {
    line-height: 1.5;
    font-size: 24px;
  }
  .A_Text_Wrap p {
    line-height: 22px;
    font-size: 1rem;
  }
}
