.nav__component {
  position: fixed;
  display: flex;
  width: -webkit-fill-available;
  z-index: 5;
  top: 0%;
  height: 30px;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  background-color: transparent;
  box-shadow: 0 1px 0 rgb(0 0 0 / 10%);
  font-weight: 500;
  line-height: 23px;
  transition: 0.3s ease-in-out;
  font-family: "Montserrat";
}
.colorChange {
  background-color: #de202c;
}

.nav__header {
  display: flex;
  align-items: center;
  width: 20%;
  margin-left: 3%;
}

.logo {
  width: 20%;
}

.links__content {
  margin-right: 2%;
}

.links {
  text-decoration: none;
  width: 80%;
  padding: 10px;
  margin-right: 20px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.selected {
  font-weight: bold;
}
.Contact-Link {
  background-color: #de202c;
  padding: 0.75rem 1rem;
}

a:hover {
  color: black;
}

@media screen and (max-width: 768px) {
  .logo {
    width: 50%;
  }
  .nav__component {
    width: 100%;
    width: -webkit-fill-available;
  }
}
