.app {
  width: 100%;
  background-color: linear-gradient(90deg, #f5f7fa 0%, #c3cfe2 100%);
}

.navbar {
  width: 100%;
  height: 20%;
}

.sidebar {
  width: 100%;
  height: 20%;
}

.body {
  width: 100%;
}
